<%- include("../header.ejs")%>
<body>
    <form method="post" action="/login">
        <label>
            <input type="email" name="email" placeholder="email">
        </label>
        <label>
            <input type="text" name="password" placeholder="password">
        </label>
        <input type="submit" value="Envoyer">
    </form>
</body>